.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 6rem;

  position: relative;
}

.nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  height: 0.2rem;
  background-color: #000;
}

.nav h2 {
  font-weight: 400;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
