.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--primary-color);
  padding: 3rem 6rem;
}

/* .nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  height: 0.17rem;
  background-color: #0d8817;
} */

.nav h2 {
  font-weight: 400;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.nav button {
  font: inherit;
  color: #fff;
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  background-color: var(--primary-color-1);
}
